<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        缓存介绍:
        一级缓存(本地缓存):
            sqlSession级别的缓存,一级缓存是一直开启的
            与数据库同一次会话期间查询到的数据会放在本地缓存中
            同一次会话期间如果需要获取相同的数据,直接从缓存中取值

            一级缓存失效情况(没有使用到当前一级缓存的情况,现象就是还需要再向数据库发出查询):
                1.sqlSession不同
                2.sqlSession相同,查询条件不同(当前一级缓存中还没有这个数据)
                3.sqlSession相同,两次查询之间执行了增删改操作(这次增删改可能对当前数据有影响)
                4.sqlSession相同,手动清除了一级缓存(缓存清空)

        二级缓存(全局缓存):
            基于namespace级别的缓存,一个namespace对应一个二级缓存
            工作机制:
                1.一个会话,查询一条数据,这个数据就会被放在当前会话的一级缓存中
                2.如果会话关闭,一级缓存中的数据会被保存到二级缓存中,新的会话查询信息,就可以参照二级缓存中的内容
                注意:查出的数据都会被默认先放在一级缓存中,只有会话提交或者关闭以后,一级缓存中的数据才会转移到二级缓存中
            使用步骤:
                1.开启全局二级缓存配置:<setting name="cacheEnabled" value="true"/>
                2.去mapper.xml中配置使用二级缓存:<cache></cache>
                3.POJO需要实现序列化接口

        与缓存有关的设置/属性:
                1.<setting name="cacheEnabled" value="true|false"/>只影响二级缓存
                2.mapper.xml文件中select标签useCache属性只影响二级缓存
                3.mapper.xml文件中增删改查标签的flushCache属性影响一级缓存和二级缓存
                4.sqlSession.clearCache()只影响一级缓存
                5.<setting name="localCacheScope" value="SESSION|STATEMENT"/>只影响一级缓存
    -->
    <settings>
        <!--为空值指定JDBC类型,默认为OTHER(oracle会报错)-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--懒加载(按需加载)-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--类型别名(别名不区分大小写)-->
    <typeAliases>
        <package name="tech.edwardvan.webssmxml.model"></package>
    </typeAliases>

    <!--注册插件-->
    <plugins>
        <plugin interceptor="tech.edwardvan.webssmxml.config.MybatisPlugin">
            <property name="test" value="test"/>
        </plugin>
    </plugins>

</configuration>